:root {
  --Roboto: 'Roboto', sans-serif;
  --Raleway: 'Raleway', sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--Roboto);
  color: #757575;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation .logo-text {
  margin-right: 93px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.address {
  margin-left: auto;
}

.navigation .mail-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.navigation .address {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  max-width: 700px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  color: #ffffff;
  margin-bottom: 30px;
}

.tel-link,
.mail-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: #757575;
}

.address-link {
  font-style: normal;
}

.envelope-icon {
  width: 18px;
  height: 16px;
}

.tel-link:hover,
.tel-link:focus,
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:focus .envelope-icon,
.mail-link:hover .envelope-icon {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link:focus .icon-cell-phone,
.tel-link:hover .icon-cell-phone {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cell-phone {
  width: 14px;
  height: 14px;
}

.active-link {
  color: #2196f3;
  display: flex;
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  width: fit-content;
  /* min-width: 50px; */
  width: 100%;
  height: 4px;
  margin-top: 48px;
  background: #2196f3;
  border-radius: 2px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo-text {
  font-family: var(--Raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.154;
  /* letter-spacing: 0.02em; */
  color: black;
}

.logo-text-web {
  color: #2196f3;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn {
  /* height: 50px; */
  min-width: 200px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  font-weight: 700;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.order-btn:hover,
.order-btn:focus {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background: #188ce8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* identical to box height, or 187% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.about {
  display: flex;
  height: 600px;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/about-background.jpg");
  background-repeat: no-repeat;
  /* max-width: 1600px; */
  background-size: cover;
  justify-content: center;
}

.about .container {
  /* padding: 200px; */
  padding-top: 200px;
  text-align: center;
}

.our-team-container {
  display: flex;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do-container {
  display: flex;
}

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-item:not(:last-child) {
  margin-right: 50px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-icon {
  height: 20px;
  width: 20px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list-icon {
  fill: #afb1b8;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer .social-list-link:hover,
.social-links-footer .social-list-link:focus {
  background-color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-list-item {
  background: #ffffff;
  /* height: 368px; */
  text-align: center;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.what-we-do-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
}

.what-we-do-item-icon {
  height: 60px;
}

.what-we-do-header-elements {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.waht-we-do-header,
.our-team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.what-we-do-item-img:not(:nth-child(3n)) {
  margin-right: 30px;
}

.what-we-do-item-img {
  position: relative;
}

.what-we-do-item-about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 76%;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-member-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-members-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-members-positions {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}

.our-clients {
  /* height: 182px; */
  padding-top: 94px;
  padding-bottom: 94px;
  /* padding-bottom: 94px; */
}

.our-client-list {
  display: flex;
  justify-content: center;
}

.our-client-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-client-list-link {
  display: flex;
  height: 90px;
  width: 170px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.our-client-list-icon {
  height: 50px;
  fill: #afb1b8;
}

.our-client-list-link:hover .our-client-list-icon,
.our-client-list-link:focus .our-client-list-icon {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-client-list-link:hover,
.our-client-list-link:focus {
  border-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn {
  /* width: 130px; */
  /* height: 38px; */
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
}

.filter-btn:hover,
.filter-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background: #2196f3;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding-left: 5px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding-top: 4px;
}

.modal-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.close-icon {
  height: 18px;
  width: 18px;
  vertical-align: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
}

.form-input-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  margin-top: 4px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-input:focus + .modal-form-icon {
  fill: #2196f3;
}

.form-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  align-self: center;
  color: #ffffff;
}

.form-btn:hover,
.form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  margin-top: 4px;
}

.form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-message:focus {
  outline: none;
  border-color: #188ce8;
}

.modal-input-wrapper {
  display: block;
  position: relative;
}

.icon-person {
  height: 12px;
  width: 12px;
}

.icon-cell {
  height: 14px;
  width: 14px;
}

.icon-mail {
  height: 13px;
  width: 16px;
}

.form-check-policy:checked + .form-label-policy::before {
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  outline: none;
  background-color: #188ce8;
}

.form-label-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-label-policy::before {
  display: inline-block;
  content: '';
  width: 14px;
  height: 14px;
  outline: 2px solid #000;
  background-color: #ffffff;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
}

.assignment-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-close-btn:hover,
.modal-close-btn:focus .close-icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer .logo-text {
  color: #ffffff;
}

.footer .logo-text-web {
  color: #2196f3;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer .address-link {
  color: #ffffff;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .container {
  display: flex;
}

.social-links-footer {
  margin-left: 70px;
}

.social-links-footer h3,
.sign-footer h3 {
  font: var(--Roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 14;
  line-height: 1.171;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sign-footer {
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
}

.email-input {
  width: 350px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 8px;
  background: #2f303a;
}

.email-input:placeholder-shown {
  color: rgba(255, 255, 255, 0.8);
}

.email-input:focus {
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.send-icon {
  fill: #ffffff;
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.social-links-footer .social-list {
  margin-left: 0px;
}

.social-links-footer .social-list-link {
  background: rgba(255, 255, 255, 0.1);
}

.social-links-footer .social-list-icon {
  fill: #ffffff;
}

.social-links-footer .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.buttons-container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 27px;
}

.portfolio-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  max-width: 370px;
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  /* overflow: scroll; */
  letter-spacing: 0.03em;
  /* text-decoration-line: underline; */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  transform: translateY(101%);
}

.portfolio-list-link-wrapper:focus .overlay,
.portfolio-list-link-wrapper:hover .overlay {
  transform: translateY(0);
}

.portfolio-item-about {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-item-about p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  letter-spacing: 0.03em;
}

.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-bottom: 60px;
  /* padding-top: 94px; */
}

.portfolio-header-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */