.tel-link,
.mail-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: #757575;
}
.address-link {
  font-style: normal;
}

.envelope-icon {
  width: 18px;
  height: 16px;
}
.tel-link:hover,
.tel-link:focus,
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link:focus .envelope-icon,
.mail-link:hover .envelope-icon {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link:focus .icon-cell-phone,
.tel-link:hover .icon-cell-phone {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
