.header .container {
  display: flex;
  align-items: center;
}

.navigation .logo-text {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.address {
  margin-left: auto;
}
.navigation .mail-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.navigation .address {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}
.header-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  max-width: 700px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  color: #ffffff;
  margin-bottom: 30px;
}
