.our-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-member-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team-members-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;

  letter-spacing: 0.03em;

  color: #212121;
}
.team-members-positions {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;

  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: #757575;
}
